/* this selectors selects all elements within the page. */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: rgb(248, 201, 201);
  font-family: Arial;
  font-size: 20px;
  padding: 45px;
}

h1 {
  font-size: 50px;
}
/* styling selector for classes */
.p1 {
  color: blueviolet;
  font-size: 15px;
  padding: 10px;
}

.form-title {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.p-name {
  font-size: 15px;
}

/* styling selector for IDs */
#form-model {
  background-color: beige;
  border: 5px solid #4444;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
}

input,
button {
  padding: 7px;
}

#image-kachow {
  width: 300px;
  height: 300px;
}
a {
  background-color: yellowgreen;
}
